In [1]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
query2 = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1) 
O9DataLake.register("DPBaseInputs",DataSource.LS, ResourceType.IBPL, query2)

In [2]:
#getting input from dataLake

sales = O9DataLake.get('sales_df')
dpbaseinputs = O9DataLake.get('DPBaseInputs')

#User Script
import logging
out_df1 = None
logger = logging.getLogger('o9_logger')
#logger.info(f'Records count in sales dataframe : {sales.shape}')
#logger.info(f'Records count in DPBaseInputs dataframe : {dpbaseinputs.shape}')
logger.warning("Hello warning")
logger.error("Hello error")
logger.warning("Hello warning")

#pushing output to the DataLake
O9DataLake.put('out_df1',sales)

2022-10-10 07:17:10,401 : srishtisingh_5210 :IbplClient: WebApi Request Url = [https://myawsqapsr02.o9solutions.com/api/ibplquery/5210/ExecuteCompactJsonQuery]
2022-10-10 07:17:11,011 : srishtisingh_5210 :IbplClient: WebApi Request Url = [https://myawsqapsr02.o9solutions.com/api/ibplquery/5210/ExecuteCompactJsonQuery]
2022-10-10 07:17:11,374 : srishtisingh_5210 :Hello warning
2022-10-10 07:17:11,375 : srishtisingh_5210 :Hello error
2022-10-10 07:17:11,376 : srishtisingh_5210 :Hello warning

In [11]:
sales

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,1.0,NaN,NaN,NaN,13.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,1.0,NaN,NaN,NaN,13.0
5,CurrentWorkingView,196426,W42-2017,ALL,ALL,1.0,NaN,NaN,NaN,13.0
6,CurrentWorkingView,196426,W44-2017,ALL,ALL,1.0,NaN,NaN,NaN,13.0