In [4]:
_DPBaseInputs = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
_sales_df = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"


# Initialize the O9DataLake with the input parameters and dataframes
# Data can be accessed with O9DataLake.get(<Input Name>)
# Overwritten values will not be reflected in the O9DataLake after initialization

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
DPBaseInputs = O9DataLake.register("DPBaseInputs",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _DPBaseInputs,plugin_setting = PluginSetting.Inputs)
sales_df = O9DataLake.register("sales_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _sales_df,plugin_setting = PluginSetting.Inputs)

O9DataLake.register("PredictedSales",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({"var1":10}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

In [5]:
#getting inputs from DataLake
sales = O9DataLake.get('sales_df')
dpbaseinputs = O9DataLake.get('DPBaseInputs')

In [6]:
O9DataLake.inputs

{'DPBaseInputs': {'name': 'DPBaseInputs',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':      Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0        CurrentWorkingView             196426          W01-2015
  1        CurrentWorkingView             196426          W02-2015
  2        CurrentWorkingView             196426          W03-2015
  3        CurrentWorkingView             196426          W04-2015
  4        CurrentWorkingView             196426          W05-2015
  ...                     ...                ...               ...
  1458     CurrentWorkingView             196426          W48-2021
  1459     CurrentWorkingView             196426          W49-2021
  1460     CurrentWorkingView             196426          W50-2021
  1461     CurrentWorkingView             196426          W51-2021
  1462     CurrentWorkingView             196426          W52-2021

       SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                Customer_1             Store_1                 102.90
  1                Customer_1             Store_1                 103.80
  2                Customer_1             Store_1                 100.75
  3                Customer_1             Store_1                 102.44
  4                Customer_1             Store_1                 100.50
  ...                     ...                 ...                    ...
  1458                    ALL                 ALL                 101.60
  1459                    ALL                 ALL                 102.94
  1460                    ALL                 ALL                 100.50
  1461                    ALL                 ALL                 104.56
  1462                    ALL                 ALL                 100.10

        Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                    103.90           103.80           104.80          102.20
  1                    103.80           101.30           101.40          100.70
  2                    101.20           100.75           102.30          100.94
  3                    106.56           102.30           101.90          105.00
  4                    106.00           103.10           100.06          105.06
  ...                     ...              ...              ...             ...
  1458                 101.56           101.10           102.60          100.44
  1459                 103.30           104.20           105.30          101.75
  1460                 102.40           102.00           100.44          101.40
  1461                 103.50           100.94           100.20          102.75
  1462                 105.75           103.00           100.56          104.06

  [1463 rows x 10 columns]},
 'sales_df': {'name': 'sales_df',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':      Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0        CurrentWorkingView             196426          W01-2015
  1        CurrentWorkingView             196426          W02-2015
  2        CurrentWorkingView             196426          W03-2015
  3        CurrentWorkingView             196426          W04-2015
  4        CurrentWorkingView             196426          W05-2015
  ...                     ...                ...               ...
  1458     CurrentWorkingView             196426          W48-2021
  1459     CurrentWorkingView             196426          W49-2021
  1460     CurrentWorkingView             196426          W50-2021
  1461     CurrentWorkingView             196426          W51-2021
  1462     CurrentWorkingView             196426          W52-2021

       SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                Customer_1             Store_1                 102.90
  1                Customer_1             Store_1                 103.80
  2                Customer_1             Store_1                 100.75
  3                Customer_1             Store_1                 102.44
  4                Customer_1             Store_1                 100.50
  ...                     ...                 ...                    ...
  1458                    ALL                 ALL                 101.60
  1459                    ALL                 ALL                 102.94
  1460                    ALL                 ALL                 100.50
  1461                    ALL                 ALL                 104.56
  1462                    ALL                 ALL                 100.10

        Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                    103.90           103.80           104.80          102.20
  1                    103.80           101.30           101.40          100.70
  2                    101.20           100.75           102.30          100.94
  3                    106.56           102.30           101.90          105.00
  4                    106.00           103.10           100.06          105.06
  ...                     ...              ...              ...             ...
  1458                 101.56           101.10           102.60          100.44
  1459                 103.30           104.20           105.30          101.75
  1460                 102.40           102.00           100.44          101.40
  1461                 103.50           100.94           100.20          102.75
  1462                 105.75           103.00           100.56          104.06

  [1463 rows x 10 columns]}}

In [7]:
#user script
import logging
out_df1 = None
logger = logging.getLogger('o9_logger')
logger.info("python plugin")

2024-09-30 13:37:43,341 - o9_logger - INFO  - python plugin

In [8]:
#pushing outputs to DataLake
O9DataLake.put('out_df1', sales)