In [9]:
#in case storage push remains in stuck state, ps install google-cloud-storage package using jhub terminal
# /opt/conda/envs/k8qa_sparkk8org1tenant1/bin/pip install google-cloud-storage

from o9cloudutils import cloud_storage_utils
from o9cloudutils import user_storage_path
import os
import pandas as pd
import shutil

os.environ['BUCKET_NAME'] = 'gcp_bucket_gcpgq10073'
os.environ['SparkBaseDirectory'] = 'o9dl-gcpgq10073'

STORAGE_BUCKET = f"test_o9cloudutils_from_pod"   # create bucket name for the slice


USER_STORAGE_PATH = user_storage_path
LOCAL_STORAGE_PATH = os.path.join(USER_STORAGE_PATH, STORAGE_BUCKET)   # create local storage path
TEST_FOLDER_PATH = os.path.join(LOCAL_STORAGE_PATH, "test")   # create subfolder path
if not os.path.exists(TEST_FOLDER_PATH):   # create local folder if it doesn't exist
    os.makedirs(TEST_FOLDER_PATH)


df = pd.DataFrame({"a":[1,2,3,4,5]})
df.to_csv(os.path.join(TEST_FOLDER_PATH,"single_col.csv"))

#Storage push

print('********Before storage_push*******')
print(os.listdir(LOCAL_STORAGE_PATH))
value = cloud_storage_utils.storage_push(STORAGE_BUCKET, LOCAL_STORAGE_PATH, overwrite=True)

if value:
    print("storage_push successful")
else:
    print("storage_push failed")
shutil.rmtree(LOCAL_STORAGE_PATH)


#Storage pull

print('********Before storage_pull*******')

if not os.path.exists(LOCAL_STORAGE_PATH):   # create local folder if it doesn't exist
    os.makedirs(LOCAL_STORAGE_PATH)

print('Files/Folders inside LOCAL STORAGE PATH')
print(os.listdir(LOCAL_STORAGE_PATH))

value = cloud_storage_utils.storage_pull(STORAGE_BUCKET, LOCAL_STORAGE_PATH, overwrite=True)

if value:
    print("storage_pull successful")

else:
    print("storage_pull failed")

print('********After storage_pull*******')
print(os.listdir(LOCAL_STORAGE_PATH))

outdf = pd.read_csv(os.path.join(LOCAL_STORAGE_PATH, 'test', 'single_col.csv'))
print('Pulled dataframe')
print(outdf.head())
out_df = pd.DataFrame()

settings: {}
is_cluster_mode False
GCS Credential local path : None
using /tmp/tmpp_r06x4k/20241205_163957_42122f14-5cb4-4b7a-9359-23e9fa7db0e2 as local directory and /tmp/tmp_j4mj4_k/20241205_163957_42122f14-5cb4-4b7a-9359-23e9fa7db0e2 as hdfs directory
***** = None
tenant_id is not valid
StorageType.HDFS
tenant_id is not valid
StorageType.google
********Before storage_push*******
['test']
storage_push successful
********Before storage_pull*******
Files/Folders inside LOCAL STORAGE PATH
[]
storage_pull successful
********After storage_pull*******
['test', 'test_o9cloudutils_from_pod.zip']
Pulled dataframe
   Unnamed: 0  a
0           0  1
1           1  2
2           2  3
3           3  4
4           4  5

In [10]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
inp1 = O9DataLake.register("WeeklySales",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("out_df",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)

In [11]:
inp1

,WalmartTime.[Day],Department.[Department_ID],Store.[Store_ID],Weekly Sales,CPI,Fuel Price,Unemployment
0,02-05-2010,1,1,24924.50,211.096358,2.572,8.106
1,02-05-2010,1,10,40212.84,130.741379,3.963,7.545
2,02-05-2010,1,11,19611.13,214.666074,2.653,7.343
3,02-05-2010,1,12,17426.75,131.037548,4.121,11.627
4,02-05-2010,1,13,46761.90,126.128355,2.797,7.951
...,...,...,...,...,...,...,...
421565,10-26-2012,50,23,7723.00,138.162900,3.629,4.125
421566,10-26-2012,50,24,595.00,132.751667,2.903,8.275
421567,10-26-2012,50,25,2317.00,214.733135,3.567,7.280
421568,10-26-2012,50,27,2540.50,142.215738,3.963,8.239
421569,10-26-2012,65,34,41457.76,128.130000,3.087,10.398