In [1]:
#This cells needs to be ignored
#Here we are validating the create plugin functionality in Jhub
#All cells are Assumed to be script cells, unless explicitly marked as o9_ignore

In [9]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
query1 = "select (Version.[Version Name]*Product.[Product]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]}) limit 10;"
O9DataLake.register("sales_df",DataSource.LS, ResourceType.IBPL, query1)

2022-12-29 09:55:52,069 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2022-12-29 09:55:52,072 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:55:52,172 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2022-12-29 09:55:57,181 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2022-12-29 09:55:57,184 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:55:57,294 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,CurrentWorkingView,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
1,CurrentWorkingView,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
2,CurrentWorkingView,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
3,CurrentWorkingView,196426,W13-2016,ALL,ALL,1.0,NaN,NaN,NaN,13.0
4,CurrentWorkingView,196426,W48-2016,ALL,ALL,1.0,NaN,NaN,NaN,13.0
5,CurrentWorkingView,196426,W42-2017,ALL,ALL,1.0,NaN,NaN,NaN,13.0
6,CurrentWorkingView,196426,W44-2017,ALL,ALL,1.0,NaN,NaN,NaN,13.0
7,CurrentWorkingView,208821,W49-2015,ALL,ALL,NaN,NaN,2.0,NaN,NaN
8,CurrentWorkingView,208821,W50-2015,ALL,ALL,NaN,NaN,2.0,NaN,NaN
9,CurrentWorkingView,208821,W51-2015,ALL,ALL,NaN,NaN,2.0,NaN,NaN

In [2]:
#getting input from dataLake

sales = O9DataLake.get('sales_df')


#User Script
import logging
out_df1 = None
logger = logging.getLogger('o9_logger')
logger.info(f'Records count in sales dataframe : {sales.shape}')

logger.warning("Hello warning")
logger.error("Hello error")
logger.info("execution done")

#pushing output to the DataLake
O9DataLake.put('out_df1',sales)

2022-12-29 09:44:59,146 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2022-12-29 09:44:59,149 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:44:59,258 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2022-12-29 09:45:04,267 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/5502/ExecuteCompactJsonQuery]
2022-12-29 09:45:04,270 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:04,358 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteCompactJsonQuery HTTP/1.1" 200 None
2022-12-29 09:45:09,373 : srishtisingh_5502 :Records count in sales dataframe : (10, 10)
2022-12-29 09:45:09,375 : srishtisingh_5502 :Hello warning
2022-12-29 09:45:09,375 : srishtisingh_5502 :Hello error
2022-12-29 09:45:09,376 : srishtisingh_5502 :execution done
2022-12-29 09:45:09,384 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:09,491 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=4igxrbzrawcmlsplx4afjowx HTTP/1.1" 200 None
2022-12-29 09:45:09,495 : srishtisingh_5502 :Uploading LOCAL file: /tmp/tmptz4q3q8q/Fact.out_df1.csv
2022-12-29 09:45:09,496 : srishtisingh_5502 :Is the file parquet: False
2022-12-29 09:45:09,497 : srishtisingh_5502 :Uploading /tmp/tmptz4q3q8q/Fact.out_df1.csv to Live Server cloud
2022-12-29 09:45:09,498 : srishtisingh_5502 :File size less than 256 MB
2022-12-29 09:45:09,499 : srishtisingh_5502 :Uploading to /fileUpload endpoint
2022-12-29 09:45:09,500 : srishtisingh_5502 :Uploading /tmp/tmptz4q3q8q/Fact.out_df1.csv to Live Server cloud
2022-12-29 09:45:09,504 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:11,758 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/upload/fileUpload HTTP/1.1" 200 None
2022-12-29 09:45:11,761 : srishtisingh_5502 :Uploaded the file successfully
2022-12-29 09:45:11,762 : srishtisingh_5502 :Uploading cloud files at: "azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2"
2022-12-29 09:45:11,764 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/framework/sessions/session]
2022-12-29 09:45:11,767 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:11,872 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session HTTP/1.1" 200 None
2022-12-29 09:45:11,874 : srishtisingh_5502 :logged into tenant pyplatformhivetest successfully
2022-12-29 09:45:11,875 : srishtisingh_5502 :IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/user]
2022-12-29 09:45:11,878 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:12,127 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/user HTTP/1.1" 200 None
2022-12-29 09:45:12,132 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:12,245 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "GET /api/framework/sessions/session/authToken?authToken=4igxrbzrawcmlsplx4afjowx HTTP/1.1" 200 None
2022-12-29 09:45:12,251 : srishtisingh_5502 :Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
2022-12-29 09:45:14,737 : srishtisingh_5502 :https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/5502/ExecuteQuery HTTP/1.1" 200 None
2022-12-29 09:45:14,740 : srishtisingh_5502 :200, OK
2022-12-29 09:45:14,741 : srishtisingh_5502 :Response json:
{"Result":"[{\"FileName\":\"Fact.out_df1.csv\",\"SheetName\":\"Fact.out_df1.csv\",\"TotalRows\":10,\"ProcessedRows\":10,\"Status\":\"Success\",\"Messages\":[\"Total Rows: [10]. Successfully Processed Rows: [10].\"],\"FileId\":\"azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2\"}]","QueryGuid":"134d4cd5-d542-4d5a-9389-a10fae03bc6e","ImpactHeader":{"TenantId":5502,"TransactionId":"00000000-0000-0000-0000-000000000000","UpdatedMembers":null,"CreatedMembers":null,"DeletedMembers":null,"ModelImpact":{"DemandPlanning.Core.Inputs":{"DPBaseInputs":["DPSellOutUnitsActuals","Mean Pricing Save PCT","Placement Count","Promotion Count","DPSellOutPrice"]}}}}
2022-12-29 09:45:14,742 : srishtisingh_5502 :{'FileName': 'Fact.out_df1.csv', 'SheetName': 'Fact.out_df1.csv', 'TotalRows': 10, 'ProcessedRows': 10, 'Status': 'Success', 'Messages': ['Total Rows: [10]. Successfully Processed Rows: [10].'], 'FileId': 'azure://IvrkBaeWLfmAdgA63s0q-YQjS9rnxeYLls4-lXy8ZCBb7W5Pos9YT7xPNvmWLQcstpUHxf3FCrS49exMY-SvVw2'}

In [5]:
print("Hello")

Hello