In [3]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
inp1 = O9DataLake.register("fuelsalereport",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)
inp2 = O9DataLake.register("test123",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("out_df",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)

In [26]:
O9DataLake.jhub_inputs

{'fuelsalereport': {'name': 'fuelsalereport',
  'resource_type': <ResourceType.LIVEFRAME: 'liveframe'>,
  'data_source': <DataSource.LIVEFRAME: 'liveframe'>,
  'query': 'SELECT ([WalmartTime].[Day].filter(#.[Day$InActive] in { false }) * {Measure.[Fuel Price]} * [Store].[Store_ID].filter(#.[Store_ID$InActive] in { false })) on row, () on column include lcid 1033, cellproperties {LOCK, BG_COLOR, FG_COLOR} where {[Version].[Version Name].filter(#.Name in { "CurrentWorkingView" }).filter(#.[Version Name$InActive] in { false })} ORDERBY [WalmartTime].[Day].[Key] ASC ;',
  'LiveFrameReportId': '4d8ce942-de03-48b6-8695-3f5ce37bf078',
  'std_count_limit': '200000',
  'df':      WalmartTime.[Day]  Store.[Store_ID]  Fuel Price
  0           02-05-2010                 1       2.572
  1           02-05-2010                10       3.963
  2           02-05-2010                11       2.653
  3           02-05-2010                12       4.121
  4           02-05-2010                13       2.797
  ...                ...               ...         ...
  8185        07-26-2013                 5       3.261
  8186        07-26-2013                 6       2.780
  8187        07-26-2013                 7       3.103
  8188        07-26-2013                 8       2.759
  8189        07-26-2013                 9       3.669

  [8190 rows x 3 columns]},
 'test123': {'name': 'test123',
  'resource_type': <ResourceType.LIVEFRAME: 'liveframe'>,
  'data_source': <DataSource.LIVEFRAME: 'liveframe'>,
  'query': 'SELECT ([WalmartTime].[Day].filter(#.[Day$InActive] in { false }) * {Measure.[Weekly Sales]} * [Department].[Department_ID].filter(#.[Department_ID$InActive] in { false }) * [Store].[Store_ID].filter(#.[Store_ID$InActive] in { false })) on row, () on column include lcid 1033, cellproperties {LOCK, BG_COLOR, FG_COLOR} where {[Version].[Version Name].filter(#.Name in { "CurrentWorkingView" }).filter(#.[Version Name$InActive] in { false })} ORDERBY [WalmartTime].[Day].[Key] ASC ;',
  'LiveFrameReportId': '9d3e1b1c-ce51-4542-a915-15b4c3372b97',
  'std_count_limit': '200000',
  'df':        WalmartTime.[Day]  Department.[Department_ID]  Store.[Store_ID]  \
  0             02-05-2010                           1                 1
  1             02-05-2010                           1                10
  2             02-05-2010                           1                11
  3             02-05-2010                           1                12
  4             02-05-2010                           1                13
  ...                  ...                         ...               ...
  199995        05-27-2011                          10                 8
  199996        05-27-2011                          10                 9
  199997        05-27-2011                          11                 1
  199998        05-27-2011                          11                10
  199999        05-27-2011                          11                11

          Weekly Sales
  0           24924.50
  1           40212.84
  2           19611.13
  3           17426.75
  4           46761.90
  ...              ...
  199995      20059.15
  199996      15165.43
  199997      27201.64
  199998      27396.50
  199999      20689.67

  [200000 rows x 4 columns]}}

In [23]:
Inp1 = O9DataLake.get('fuelsalereport')

In [29]:
#user script
import logging
out_df = None
logger = logging.getLogger('o9_logger')
logger.info("Liveframe use")
logger.error(f'inp1 {Inp1.shape}')
logger.error(f'inp2 {inp2.shape}')

2023-10-06 16:32:06,314 - o9_logger - INFO  - Liveframe use
2023-10-06 16:32:06,315 - o9_logger - ERROR  - inp1 (8190, 3)
2023-10-06 16:32:06,316 - o9_logger - ERROR  - inp2 (200000, 4)

In [30]:
O9DataLake.put('out_df', inp2)

2023-10-06 22:02:39.177272: LiveServer : Failed to parse file. Cannot parse the header row.
2023-10-06 22:02:39.177296: LiveServer : Header:[System.String[]]
2023-10-06 22:02:39.177300: LiveServer : Measure [Weekly Sales] is not setup for spreading
2023-10-06 22:02:39.177303: LiveServer :    at o9.GraphCube.olap.procedures.fileupload.FactBaseParser.ValidateHeader() in D:\Jenkins\jobs\o9AzLiveServerGrpcCompileNet6\workspaceDev\o9.Platform\LiveServer\Server\o9.GraphCube\olap\procedures\fileupload\FactBaseParser.cs:line 792
   at o9.GraphCube.olap.procedures.fileupload.FactDSVParser.Parse() in D:\Jenkins\jobs\o9AzLiveServerGrpcCompileNet6\workspaceDev\o9.Platform\LiveServer\Server\o9.GraphCube\olap\procedures\fileupload\FactDSVParser.cs:line 54

In [31]:
O9DataLake.outputs

{'Fact.out_df.csv':        WalmartTime.[Day]  Department.[Department_ID]  Store.[Store_ID]  \
 0             02-05-2010                           1                 1
 1             02-05-2010                           1                10
 2             02-05-2010                           1                11
 3             02-05-2010                           1                12
 4             02-05-2010                           1                13
 ...                  ...                         ...               ...
 199995        05-27-2011                          10                 8
 199996        05-27-2011                          10                 9
 199997        05-27-2011                          11                 1
 199998        05-27-2011                          11                10
 199999        05-27-2011                          11                11

         Weekly Sales
 0           24924.50
 1           40212.84
 2           19611.13
 3           17426.75
 4           46761.90
 ...              ...
 199995      20059.15
 199996      15165.43
 199997      27201.64
 199998      27396.50
 199999      20689.67

 [200000 rows x 4 columns]}