In [2]:
_predict_df = "select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"
_input_df = "select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

# register inputs
predict_df = O9DataLake.register("predict_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _predict_df,plugin_setting = PluginSetting.Inputs)
input_df = O9DataLake.register("input_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _input_df,plugin_setting = PluginSetting.Inputs)
liveinput = O9DataLake.register("WeeklySales",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)
# register slice dimension
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.SliceDimension)

# register outputs
O9DataLake.register("output1",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)
O9DataLake.register("output2",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)

# register script params
script_params = O9DataLake.register({"var1":"10","var2":"Test"}, data_source = DataSource.LS, plugin_setting = PluginSetting.ScriptParam)

In [3]:
O9DataLake.inputs

{'predict_df': {'name': 'predict_df',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].[196426]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':    Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0                      S1             196426          W03-2016
  1      CurrentWorkingView             196426          W03-2016
  2                      S1             196426          W05-2016
  3      CurrentWorkingView             196426          W05-2016
  4                      S1             196426          W08-2016
  5      CurrentWorkingView             196426          W08-2016
  6                      S1             196426          W13-2016
  7      CurrentWorkingView             196426          W13-2016
  8                      S1             196426          W48-2016
  9      CurrentWorkingView             196426          W48-2016
  10                     S1             196426          W42-2017
  11     CurrentWorkingView             196426          W42-2017
  12                     S1             196426          W44-2017
  13     CurrentWorkingView             196426          W44-2017

     SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                     ALL                 ALL                      1
  1                     ALL                 ALL                      1
  2                     ALL                 ALL                      2
  3                     ALL                 ALL                      2
  4                     ALL                 ALL                      1
  5                     ALL                 ALL                      1
  6                     ALL                 ALL                      1
  7                     ALL                 ALL                      1
  8                     ALL                 ALL                      1
  9                     ALL                 ALL                      1
  10                    ALL                 ALL                      1
  11                    ALL                 ALL                      1
  12                    ALL                 ALL                      1
  13                    ALL                 ALL                      1

      Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                     NaN              NaN              NaN             6.0
  1                     NaN              NaN              NaN             6.0
  2                     NaN              NaN              NaN             9.5
  3                     NaN              NaN              NaN             9.5
  4                     NaN              NaN              NaN             6.0
  5                     NaN              NaN              NaN             6.0
  6                     NaN              NaN              NaN            13.0
  7                     NaN              NaN              NaN            13.0
  8                     NaN              NaN              NaN            13.0
  9                     NaN              NaN              NaN            13.0
  10                    NaN              NaN              NaN            13.0
  11                    NaN              NaN              NaN            13.0
  12                    NaN              NaN              NaN            13.0
  13                    NaN              NaN              NaN            13.0  },
 'input_df': {'name': 'input_df',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':     Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0                       S1             208821          W49-2015
  1       CurrentWorkingView             208821          W49-2015
  2                       S1             208821          W50-2015
  3       CurrentWorkingView             208821          W50-2015
  4                       S1             208821          W51-2015
  ..                     ...                ...               ...
  315     CurrentWorkingView             208821          W50-2018
  316                     S1             208821          W51-2018
  317     CurrentWorkingView             208821          W51-2018
  318                     S1             208821          W52-2018
  319     CurrentWorkingView             208821          W52-2018

      SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                      ALL                 ALL                    NaN
  1                      ALL                 ALL                    NaN
  2                      ALL                 ALL                    NaN
  3                      ALL                 ALL                    NaN
  4                      ALL                 ALL                    NaN
  ..                     ...                 ...                    ...
  315                    ALL                 ALL                    NaN
  316                    ALL                 ALL                    NaN
  317                    ALL                 ALL                    NaN
  318                    ALL                 ALL                    NaN
  319                    ALL                 ALL                    NaN

       Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                      NaN                2              NaN             NaN
  1                      NaN                2              NaN             NaN
  2                      NaN                2              NaN             NaN
  3                      NaN                2              NaN             NaN
  4                      NaN                2              NaN             NaN
  ..                     ...              ...              ...             ...
  315                    NaN                1              NaN             NaN
  316                    NaN                1              NaN             NaN
  317                    NaN                1              NaN             NaN
  318                    NaN                1              NaN             NaN
  319                    NaN                1              NaN             NaN

  [320 rows x 10 columns]},
 'WeeklySales': {'name': 'WeeklySales',
  'resource_type': <ResourceType.LIVEFRAME: 'liveframe'>,
  'data_source': <DataSource.LIVEFRAME: 'liveframe'>,
  'query': 'SELECT ([WalmartTime].[Day].filter(#.[Day$InActive] in { false }) * {Measure.[CPI] , Measure.[Fuel Price] , Measure.[MarkDown1] , Measure.[MarkDown2] , Measure.[MarkDown3] , Measure.[MarkDown4] , Measure.[MarkDown5] , Measure.[Temperature] , Measure.[Unemployment] , Measure.[Weekly Sales]} * [Store].[Store_ID].filter(#.[Store_ID$InActive] in { false }) * [Department].[Department_ID].filter(#.[Department_ID$InActive] in { false }) * [Version].[Version Name].filter(#.Name in { "CurrentWorkingView" }).relatedmembers([Version Name]).filter(#.[Version Name$InActive] in { false })) on row, () on column include lcid 1033, cellproperties {LOCK, BG_COLOR, FG_COLOR} ORDERBY [WalmartTime].[Day].[Key] ASC ;',
  'LiveFrameReportId': 'e057ab8b-08de-4848-a77d-eff1a272ca2b',
  'std_count_limit': '200000',
  'df':        WalmartTime.[Day]  Store.[Store_ID]  Department.[Department_ID]  \
  0             02-05-2010                 1                           1
  1             02-05-2010                 1                           2
  2             02-05-2010                 1                           3
  3             02-05-2010                 1                           4
  4             02-05-2010                 1                           5
  ...                  ...               ...                         ...
  199995        05-27-2011                15                          22
  199996        05-27-2011                15                          23
  199997        05-27-2011                15                          24
  199998        05-27-2011                15                          25
  199999        05-27-2011                15                          26

         Version.[Version Name]         CPI  Fuel Price  MarkDown1  MarkDown2  \
  0          CurrentWorkingView  211.096358       2.572        NaN        NaN
  1          CurrentWorkingView  211.096358       2.572        NaN        NaN
  2          CurrentWorkingView  211.096358       2.572        NaN        NaN
  3          CurrentWorkingView  211.096358       2.572        NaN        NaN
  4          CurrentWorkingView  211.096358       2.572        NaN        NaN
  ...                       ...         ...         ...        ...        ...
  199995     CurrentWorkingView  135.628333       3.886        NaN        NaN
  199996     CurrentWorkingView  135.628333       3.886        NaN        NaN
  199997     CurrentWorkingView  135.628333       3.886        NaN        NaN
  199998     CurrentWorkingView  135.628333       3.886        NaN        NaN
  199999     CurrentWorkingView  135.628333       3.886        NaN        NaN

          MarkDown3  MarkDown4  MarkDown5  Temperature  Unemployment  \
  0             NaN        NaN        NaN        42.31         8.106
  1             NaN        NaN        NaN        42.31         8.106
  2             NaN        NaN        NaN        42.31         8.106
  3             NaN        NaN        NaN        42.31         8.106
  4             NaN        NaN        NaN        42.31         8.106
  ...           ...        ...        ...          ...           ...
  199995        NaN        NaN        NaN        73.47         7.806
  199996        NaN        NaN        NaN        73.47         7.806
  199997        NaN        NaN        NaN        73.47         7.806
  199998        NaN        NaN        NaN        73.47         7.806
  199999        NaN        NaN        NaN        73.47         7.806

          Weekly Sales
  0           24924.50
  1           50605.27
  2           13740.12
  3           39954.04
  4           32229.38
  ...              ...
  199995       8103.15
  199996      22966.48
  199997       4451.62
  199998      11478.37
  199999       4896.41

  [200000 rows x 14 columns]}}

In [4]:
# fetching inputs
predict_df = O9DataLake.get('predict_df')
input_df = O9DataLake.get('input_df')
liveinput = O9DataLake.get('WeeklySales')

# fetching script params
value1 = O9DataLake.get_script_param("var1")
value2 = O9DataLake.get_script_param("var2")

In [5]:
#user script

# package imports
import logging
from sklearn import tree

# initialize output variables
output1 = None
output2 = None

# initialize logger
logger = logging.getLogger('o9_logger')

logger.debug(f'predict_df dataframe:  {predict_df.shape}')
logger.debug(f'input_df dataframe:  {input_df.shape}')
logger.debug(f'liveinput dataframe:  {liveinput.shape}')
logger.debug(f'script param var1 value: {value1}')
logger.debug(f'script param var2 value: {value2}')

if predict_df is not None and len(predict_df.index) > 0:
    x = input_df[['Mean Pricing Save PCT', 'Placement Count', 'Promotion Count', 'DPSellOutPrice']]
    y = input_df[['DPSellOutUnitsActuals']]
    x = x.fillna(0).values
    y = y.fillna(0).values

    clf = tree.DecisionTreeRegressor()
    clf = clf.fit(x, y)

    predict = predict_df[['Mean Pricing Save PCT', 'Placement Count', 'Promotion Count', 'DPSellOutPrice']].fillna(0).values
    # predict_keys = predict_df[['Time.[FiscalWeek]', 'Product.[Product]', 'Version.[Version Name]', 'SalesAccount.[Account]','Location.[Location]']]
    # predict_keys["Product.[Product]"] = pd.to_numeric(predict_keys["Product.[Product]"], downcast='integer')
    predict_values = clf.predict(predict)
    predict_df["DPSellOutUnitsFcst"] = predict_values
    #out_df = pd.concat([predict_keys, out_df_part], axis=1)
    output1 = predict_df[['Time.[FiscalWeek]', 'Product.[Product]', 'Version.[Version Name]', 'SalesAccount.[Account]','Location.[Location]','DPSellOutUnitsFcst']]
    logger.info(output1)
   
else:
    output1 = None


print("Plugin Execution Done")

2023-10-16 18:25:19,033 - o9_logger - DEBUG  - predict_df dataframe:  (14, 10)
2023-10-16 18:25:19,034 - o9_logger - DEBUG  - input_df dataframe:  (320, 10)
2023-10-16 18:25:19,035 - o9_logger - DEBUG  - liveinput dataframe:  (200000, 14)
2023-10-16 18:25:19,036 - o9_logger - DEBUG  - script param var1 value: 10
2023-10-16 18:25:19,036 - o9_logger - DEBUG  - script param var2 value: Test
2023-10-16 18:25:19,043 - o9_logger - INFO  -    Time.[FiscalWeek]  Product.[Product] Version.[Version Name]  \
0           W03-2016             196426                     S1
1           W03-2016             196426     CurrentWorkingView
2           W05-2016             196426                     S1
3           W05-2016             196426     CurrentWorkingView
4           W08-2016             196426                     S1
5           W08-2016             196426     CurrentWorkingView
6           W13-2016             196426                     S1
7           W13-2016             196426     CurrentWorkingView
8           W48-2016             196426                     S1
9           W48-2016             196426     CurrentWorkingView
10          W42-2017             196426                     S1
11          W42-2017             196426     CurrentWorkingView
12          W44-2017             196426                     S1
13          W44-2017             196426     CurrentWorkingView

   SalesAccount.[Account] Location.[Location]  DPSellOutUnitsFcst
0                     ALL                 ALL                 0.0
1                     ALL                 ALL                 0.0
2                     ALL                 ALL                 0.0
3                     ALL                 ALL                 0.0
4                     ALL                 ALL                 0.0
5                     ALL                 ALL                 0.0
6                     ALL                 ALL              1160.0
7                     ALL                 ALL              1160.0
8                     ALL                 ALL              1160.0
9                     ALL                 ALL              1160.0
10                    ALL                 ALL              1160.0
11                    ALL                 ALL              1160.0
12                    ALL                 ALL              1160.0
13                    ALL                 ALL              1160.0
Plugin Execution Done

In [6]:

output2 = liveinput
logger.debug(f'liveinput dataframe:  {liveinput.head()}')

2023-10-16 18:25:23,341 - o9_logger - DEBUG  - liveinput dataframe:    WalmartTime.[Day]  Store.[Store_ID]  Department.[Department_ID]  \
0        02-05-2010                 1                           1
1        02-05-2010                 1                           2
2        02-05-2010                 1                           3
3        02-05-2010                 1                           4
4        02-05-2010                 1                           5

  Version.[Version Name]         CPI  Fuel Price  MarkDown1  MarkDown2  \
0     CurrentWorkingView  211.096358       2.572        NaN        NaN
1     CurrentWorkingView  211.096358       2.572        NaN        NaN
2     CurrentWorkingView  211.096358       2.572        NaN        NaN
3     CurrentWorkingView  211.096358       2.572        NaN        NaN
4     CurrentWorkingView  211.096358       2.572        NaN        NaN

   MarkDown3  MarkDown4  MarkDown5  Temperature  Unemployment  Weekly Sales
0        NaN        NaN        NaN        42.31         8.106      24924.50
1        NaN        NaN        NaN        42.31         8.106      50605.27
2        NaN        NaN        NaN        42.31         8.106      13740.12
3        NaN        NaN        NaN        42.31         8.106      39954.04
4        NaN        NaN        NaN        42.31         8.106      32229.38

In [7]:
#pushing outputs to Live Server(make sure all dimensions,measures present in LiveServer)
O9DataLake.put('output1', output1)
#O9DataLake.put('output2', output2)