In [3]:
_DPBaseInputs = "select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"


# Initialize the O9DataLake with the input parameters and dataframes
# Data can be accessed with O9DataLake.get(<Input Name>)
# Overwritten values will not be reflected in the O9DataLake after initialization

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
DPBaseInputs = O9DataLake.register("DPBaseInputs",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _DPBaseInputs,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.SliceDimension)

O9DataLake.register("out_df",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({"var1":"10","var2":"40"}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

In [4]:
DPBaseInputs

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S1,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
2,S1,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
4,S1,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...
329,CurrentWorkingView,208821,W50-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
330,S1,208821,W51-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
331,CurrentWorkingView,208821,W51-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
332,S1,208821,W52-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
333,CurrentWorkingView,208821,W52-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN

In [4]:
O9DataLake.inputs

{'DPBaseInputs': {'name': 'DPBaseInputs',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':     Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0                       S1             196426          W03-2016
  1       CurrentWorkingView             196426          W03-2016
  2                       S1             196426          W05-2016
  3       CurrentWorkingView             196426          W05-2016
  4                       S1             196426          W08-2016
  ..                     ...                ...               ...
  329     CurrentWorkingView             208821          W50-2018
  330                     S1             208821          W51-2018
  331     CurrentWorkingView             208821          W51-2018
  332                     S1             208821          W52-2018
  333     CurrentWorkingView             208821          W52-2018

      SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                      ALL                 ALL                    1.0
  1                      ALL                 ALL                    1.0
  2                      ALL                 ALL                    2.0
  3                      ALL                 ALL                    2.0
  4                      ALL                 ALL                    1.0
  ..                     ...                 ...                    ...
  329                    ALL                 ALL                    NaN
  330                    ALL                 ALL                    NaN
  331                    ALL                 ALL                    NaN
  332                    ALL                 ALL                    NaN
  333                    ALL                 ALL                    NaN

       Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                      NaN              NaN              NaN             6.0
  1                      NaN              NaN              NaN             6.0
  2                      NaN              NaN              NaN             9.5
  3                      NaN              NaN              NaN             9.5
  4                      NaN              NaN              NaN             6.0
  ..                     ...              ...              ...             ...
  329                    NaN              1.0              NaN             NaN
  330                    NaN              1.0              NaN             NaN
  331                    NaN              1.0              NaN             NaN
  332                    NaN              1.0              NaN             NaN
  333                    NaN              1.0              NaN             NaN

  [334 rows x 10 columns]}}

In [ ]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

O9DataLake.get_script_params()

In [5]:
spark

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [6]:
spark.sql('show databases').show()

NameError: name 'spark' is not defined