In [2]:
_DPBaseInputs = "select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

DPBaseInputs = O9DataLake.register("DPBaseInputs",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _DPBaseInputs,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.SliceDimension)

O9DataLake.register("out_df",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

In [3]:
#getting inputs from DataLake
dpbaseinputs = O9DataLake.get('DPBaseInputs')

In [4]:
dpbaseinputs

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S1,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
2,S1,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
4,S1,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...
329,CurrentWorkingView,208821,W50-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
330,S1,208821,W51-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
331,CurrentWorkingView,208821,W51-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
332,S1,208821,W52-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
333,CurrentWorkingView,208821,W52-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN

In [5]:
#user script
import logging
out_df = None
logger = logging.getLogger('o9_logger')
logger.info("python Session")
logger.error(f'DPBaseInputs {DPBaseInputs.shape}')
logger.debug('Debug logs')

2023-09-27 14:41:08,475 - o9_logger - INFO  - python Session
2023-09-27 14:41:08,476 - o9_logger - ERROR  - DPBaseInputs (334, 10)
2023-09-27 14:41:08,476 - o9_logger - DEBUG  - Debug logs

In [6]:
#pushing outputs to DataLake
O9DataLake.put('out_df', dpbaseinputs)

INFO:o9_sys_logger:{'FileName': 'Fact.out_df.csv', 'SheetName': 'Fact.out_df.csv', 'TotalRows': 334, 'ProcessedRows': 334, 'Status': 'Success', 'Messages': ['Total Rows: [334]. Successfully Processed Rows: [334].'], 'FileId': 's3://shPxeDczzH_rYcWpURBdZxRdABiRcGn0jvMtLN3cqCVx-_6CrdnK3rhH7niehro_l9iNrPux1BlDo3-7miJk3upEOYs11BYujWhNrZBeK4E1'}