In [4]:
_predict_df = "select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

# register inputs
predict_df = O9DataLake.register("predict_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _predict_df,plugin_setting = PluginSetting.Inputs)
systemreport = O9DataLake.register("sysreport",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)
liveinput = O9DataLake.register("ReportName",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)

# register slice dimension
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.SliceDimension)

# register outputs
O9DataLake.register("output1",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)
O9DataLake.register("output2",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)

# register script params
script_params = O9DataLake.register({"var1":"20","var2":"Test1","var3":"newparam"}, data_source = DataSource.LS, plugin_setting = PluginSetting.ScriptParam)

In [ ]:
O9DataLake.register("Version.[Version Name]", data_source = DataSource.LS, entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.SliceDimension)

In [5]:
O9DataLake.inputs

{'predict_df': {'name': 'predict_df',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':     Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0                       S1             208821          W49-2015
  1       CurrentWorkingView             208821          W49-2015
  2                       S1             208821          W50-2015
  3       CurrentWorkingView             208821          W50-2015
  4                       S1             208821          W51-2015
  ..                     ...                ...               ...
  315     CurrentWorkingView             208821          W50-2018
  316                     S1             208821          W51-2018
  317     CurrentWorkingView             208821          W51-2018
  318                     S1             208821          W52-2018
  319     CurrentWorkingView             208821          W52-2018

      SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                      ALL                 ALL                    NaN
  1                      ALL                 ALL                    NaN
  2                      ALL                 ALL                    NaN
  3                      ALL                 ALL                    NaN
  4                      ALL                 ALL                    NaN
  ..                     ...                 ...                    ...
  315                    ALL                 ALL                    NaN
  316                    ALL                 ALL                    NaN
  317                    ALL                 ALL                    NaN
  318                    ALL                 ALL                    NaN
  319                    ALL                 ALL                    NaN

       Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                      NaN                2              NaN             NaN
  1                      NaN                2              NaN             NaN
  2                      NaN                2              NaN             NaN
  3                      NaN                2              NaN             NaN
  4                      NaN                2              NaN             NaN
  ..                     ...              ...              ...             ...
  315                    NaN                1              NaN             NaN
  316                    NaN                1              NaN             NaN
  317                    NaN                1              NaN             NaN
  318                    NaN                1              NaN             NaN
  319                    NaN                1              NaN             NaN

  [320 rows x 10 columns]},
 'sysreport': {'name': 'sysreport',
  'resource_type': <ResourceType.LIVEFRAME: 'liveframe'>,
  'data_source': <DataSource.LIVEFRAME: 'liveframe'>,
  'query': 'SELECT ([WalmartTime].[Day].filter(#.[Day$InActive] in { false }) * [Store].[Store_ID].filter(#.[Store_ID$InActive] in { false }) * {Measure.[DSML dsmldim] , Measure.[CPI] , Measure.[Unemployment] , Measure.[Fuel Price] , Measure.[Weekly Sales] , Measure.[Predicted Sales]} * [Department].[Department_ID].filter(#.[Department_ID$InActive] in { false })) on row, () on column include lcid 1033, cellproperties {LOCK, BG_COLOR, FG_COLOR} where {[Version].[Version Name].filter(#.Name in { "CurrentWorkingView" }).filter(#.[Version Name$InActive] in { false })} ORDERBY [WalmartTime].[Day].[Key] ASC ;',
  'LiveFrameReportId': 'c019da78-f7b4-4da3-aa9e-84abc834dd5a',
  'std_count_limit': '200000',
  'df':        WalmartTime.[Day]  Store.[Store_ID]  Department.[Department_ID]  \
  0             02-05-2010                 1                           1
  1             02-05-2010                 1                           2
  2             02-05-2010                 1                           3
  3             02-05-2010                 1                           4
  4             02-05-2010                 1                           5
  ...                  ...               ...                         ...
  421565        10-26-2012                 9                          91
  421566        10-26-2012                 9                          92
  421567        10-26-2012                 9                          94
  421568        10-26-2012                 9                          95
  421569        10-26-2012                 9                          96

          DSML dsmldim         CPI  Unemployment  Fuel Price  Weekly Sales  \
  0                NaN  211.096358         8.106       2.572      24924.50
  1                NaN  211.096358         8.106       2.572      50605.27
  2                NaN  211.096358         8.106       2.572      13740.12
  3                NaN  211.096358         8.106       2.572      39954.04
  4                NaN  211.096358         8.106       2.572      32229.38
  ...              ...         ...           ...         ...           ...
  421565           NaN  222.656120         6.054       3.158        914.84
  421566           NaN  222.656120         6.054       3.158      18310.28
  421567           NaN  222.656120         6.054       3.158        233.02
  421568           NaN  222.656120         6.054       3.158      32382.05
  421569           NaN  222.656120         6.054       3.158       4752.25

          Predicted Sales
  0          18810.473617
  1          37932.229054
  2          14496.019182
  3          36541.889394
  4          21114.618629
  ...                 ...
  421565      2133.354326
  421566     13364.705408
  421567       889.542000
  421568     37428.930707
  421569      2961.450731

  [421570 rows x 9 columns]},
 'ReportName': {'name': 'ReportName',
  'resource_type': <ResourceType.LIVEFRAME: 'liveframe'>,
  'data_source': <DataSource.LIVEFRAME: 'liveframe'>,
  'query': 'SELECT ([WalmartTime].[Day].filter(#.[Day$InActive] in { false }) * {Measure.[Weekly Sales]} * [Department].[Department_ID].filter(#.[Department_ID$InActive] in { false }) * [Store].[Store_ID].filter(#.[Store_ID$InActive] in { false })) on row, () on column include lcid 1033, cellproperties {LOCK, BG_COLOR, FG_COLOR} where {[Version].[Version Name].filter(#.Name in { "CurrentWorkingView" }).filter(#.[Version Name$InActive] in { false })} ORDERBY [WalmartTime].[Day].[Key] ASC ;',
  'LiveFrameReportId': '7fb96eac-8357-4b0b-aa43-416750b91053',
  'std_count_limit': '200000',
  'df':        WalmartTime.[Day]  Department.[Department_ID]  Store.[Store_ID]  \
  0             02-05-2010                           1                 1
  1             02-05-2010                           1                10
  2             02-05-2010                           1                11
  3             02-05-2010                           1                12
  4             02-05-2010                           1                13
  ...                  ...                         ...               ...
  421565        10-26-2012                          50                23
  421566        10-26-2012                          50                24
  421567        10-26-2012                          50                25
  421568        10-26-2012                          50                27
  421569        10-26-2012                          65                34

          Weekly Sales
  0           24924.50
  1           40212.84
  2           19611.13
  3           17426.75
  4           46761.90
  ...              ...
  421565       7723.00
  421566        595.00
  421567       2317.00
  421568       2540.50
  421569      41457.76

  [421570 rows x 4 columns]}}

In [6]:
# fetching inputs
predict_df = O9DataLake.get('predict_df')
systemreport = O9DataLake.get('sysreport')
liveinput = O9DataLake.get('ReportName')
# fetching script params
value1 = O9DataLake.get_script_param("var1")
value2 = O9DataLake.get_script_param("var2")

In [7]:
#user script

# package imports
import logging
from sklearn import tree

# initialize output variables
output1 = None
output2 = None


# initialize logger
logger = logging.getLogger('o9_logger')

logger.debug(f'predict_df dataframe:  {predict_df.shape}')
logger.debug(f'systemreport dataframe:  {systemreport.shape}')
logger.debug(f'liveinput dataframe:  {liveinput.shape}')
logger.debug(f'script param var1 value: {value1}')
logger.debug(f'script param var2 value: {value2}')

2024-05-12 19:11:41,123 - o9_logger - DEBUG  - predict_df dataframe:  (14, 10)
2024-05-12 19:11:41,124 - o9_logger - DEBUG  - systemreport dataframe:  (0, 4)
2024-05-12 19:11:41,125 - o9_logger - DEBUG  - liveinput dataframe:  (421570, 4)
2024-05-12 19:11:41,125 - o9_logger - DEBUG  - script param var1 value: 10
2024-05-12 19:11:41,126 - o9_logger - DEBUG  - script param var2 value: Test1

In [8]:
output1 = systemreport
logger.debug(f'systemreport dataframe:  {systemreport.head()}')

2024-05-12 19:11:41,132 - o9_logger - DEBUG  - systemreport dataframe:  Empty DataFrame
Columns: [WalmartTime.[Day], Store.[Store_ID], Version.[Version Name], DSML dsmldim]
Index: []

In [9]:
output2 = liveinput
logger.debug(f'systemreport dataframe:  {liveinput.head()}')

2024-05-12 19:11:41,157 - o9_logger - DEBUG  - systemreport dataframe:    WalmartTime.[Day]  Department.[Department_ID]  Store.[Store_ID]  \
0        02-05-2010                           1                 1
1        02-05-2010                           1                10
2        02-05-2010                           1                11
3        02-05-2010                           1                12
4        02-05-2010                           1                13

   Weekly Sales
0      24924.50
1      40212.84
2      19611.13
3      17426.75
4      46761.90

In [11]:
#pushing outputs to Live Server(make sure all dimensions,measures present in LiveServer)
O9DataLake.put('output1', output1)

In [ ]:
O9DataLake.put('output2', output2)

In [7]:
print(" Execution completed")

 Execution completed