In [6]:
_predict_df = "select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

# register inputs
predict_df = O9DataLake.register("predict_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _predict_df,plugin_setting = PluginSetting.Inputs)



# register slice dimension
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.SliceDimension)

# register outputs
O9DataLake.register("output1",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)
O9DataLake.register("output2",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)

# register script params
script_params = O9DataLake.register({"var1":"50","var2":"Test1","var3":"newparam","var4":"80"}, data_source = DataSource.LS, plugin_setting = PluginSetting.ScriptParam)

In [4]:
O9DataLake.register("Version.[Version Name]", data_source = DataSource.LS, entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.SliceDimension)

In [2]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
liveinput1 = O9DataLake.register("new_report",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)

In [3]:
liveinput1

     WalmartTime.[Day]  Store.[Store_ID]         CPI
0           02-05-2010                 1  211.096358
1           02-05-2010                10  130.741379
2           02-05-2010                11  214.666074
3           02-05-2010                12  131.037548
4           02-05-2010                13  126.128355
...                ...               ...         ...
7600        07-26-2013                 5  220.476019
7601        07-26-2013                 6  211.894272
7602        07-26-2013                 7  196.919506
7603        07-26-2013                 8  214.250032
7604        07-26-2013                 9  224.804683

[7605 rows x 3 columns]

In [8]:
# fetching inputs
predict_df = O9DataLake.get('predict_df')

liveinput = O9DataLake.get('new_report')
# fetching script params
value1 = O9DataLake.get_script_param("var1")
value2 = O9DataLake.get_script_param("var2")

In [9]:
#user script

# package imports
import logging
from sklearn import tree

# initialize output variables
output1 = None
output2 = None


# initialize logger
logger = logging.getLogger('o9_logger')

logger.debug(f'predict_df dataframe:  {predict_df.shape}')

logger.debug(f'liveinput dataframe:  {liveinput.shape}')
logger.debug(f'script param var1 value: {value1}')
logger.debug(f'script param var2 value: {value2}')

2024-10-06 15:19:59,657 - o9_logger - DEBUG  - predict_df dataframe:  (320, 10)
2024-10-06 15:19:59,659 - o9_logger - DEBUG  - liveinput dataframe:  (7605, 3)
2024-10-06 15:19:59,660 - o9_logger - DEBUG  - script param var1 value: 50
2024-10-06 15:19:59,661 - o9_logger - DEBUG  - script param var2 value: Test1

In [10]:
output1 = liveinput
logger.debug(f'systemreport dataframe:  {liveinput.head()}')

2024-10-06 15:20:06,497 - o9_logger - DEBUG  - systemreport dataframe:    WalmartTime.[Day]  Store.[Store_ID]         CPI
0        02-05-2010                 1  211.096358
1        02-05-2010                10  130.741379
2        02-05-2010                11  214.666074
3        02-05-2010                12  131.037548
4        02-05-2010                13  126.128355

In [12]:
O9DataLake.put('output1', predict_df)