In [4]:
_predict_df = "select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

# register inputs
predict_df = O9DataLake.register("predict_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _predict_df,plugin_setting = PluginSetting.Inputs)
systemreport = O9DataLake.register("newsysreportq4",data_source = DataSource.LIVEFRAME,entity_type = ResourceType.LIVEFRAME,plugin_setting = PluginSetting.Inputs)


# register slice dimension
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.SliceDimension)

# register outputs
O9DataLake.register("output1",data_source = DataSource.LS,entity_type = ResourceType.IBPL, plugin_setting = PluginSetting.Outputs)


# register script params
script_params = O9DataLake.register({"var1":"50","var2":"Test1","var3":"newparam","var4":"80"}, data_source = DataSource.LS, plugin_setting = PluginSetting.ScriptParam)

In [5]:
O9DataLake.inputs

{'predict_df': {'name': 'predict_df',
  'resource_type': <ResourceType.IBPL: 'ibpl_query'>,
  'data_source': <DataSource.LS: 'liveserver'>,
  'query': 'select (Version.[Version Name]*Product.[Product].[208821]*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});',
  'std_count_limit': '200000',
  'df':     Version.[Version Name]  Product.[Product] Time.[FiscalWeek]  \
  0                       S1             208821          W49-2015
  1       CurrentWorkingView             208821          W49-2015
  2                       S1             208821          W50-2015
  3       CurrentWorkingView             208821          W50-2015
  4                       S1             208821          W51-2015
  ..                     ...                ...               ...
  315     CurrentWorkingView             208821          W50-2018
  316                     S1             208821          W51-2018
  317     CurrentWorkingView             208821          W51-2018
  318                     S1             208821          W52-2018
  319     CurrentWorkingView             208821          W52-2018

      SalesAccount.[Account] Location.[Location]  DPSellOutUnitsActuals  \
  0                      ALL                 ALL                    NaN
  1                      ALL                 ALL                    NaN
  2                      ALL                 ALL                    NaN
  3                      ALL                 ALL                    NaN
  4                      ALL                 ALL                    NaN
  ..                     ...                 ...                    ...
  315                    ALL                 ALL                    NaN
  316                    ALL                 ALL                    NaN
  317                    ALL                 ALL                    NaN
  318                    ALL                 ALL                    NaN
  319                    ALL                 ALL                    NaN

       Mean Pricing Save PCT  Placement Count  Promotion Count  DPSellOutPrice
  0                      NaN                2              NaN             NaN
  1                      NaN                2              NaN             NaN
  2                      NaN                2              NaN             NaN
  3                      NaN                2              NaN             NaN
  4                      NaN                2              NaN             NaN
  ..                     ...              ...              ...             ...
  315                    NaN                1              NaN             NaN
  316                    NaN                1              NaN             NaN
  317                    NaN                1              NaN             NaN
  318                    NaN                1              NaN             NaN
  319                    NaN                1              NaN             NaN

  [320 rows x 10 columns]},
 'newsysreportq4': {'name': 'newsysreportq4',
  'resource_type': <ResourceType.LIVEFRAME: 'liveframe'>,
  'data_source': <DataSource.LIVEFRAME: 'liveframe'>,
  'query': 'SELECT ([WalmartTime].[Day].filter(#.[Day$InActive] in { false }) * {Measure.[Weekly Sales]} * [Department].[Department_ID].filter(#.[Department_ID$InActive] in { false }) * [Store].[Store_ID].filter(#.[Store_ID$InActive] in { false })) on row, () on column include lcid 1033, cellproperties {LOCK, BG_COLOR, FG_COLOR} where {[Version].[Version Name].filter(#.Name in { "CurrentWorkingView" }).filter(#.[Version Name$InActive] in { false })} ORDERBY [WalmartTime].[Day].[Key] ASC ;',
  'LiveFrameReportId': 'ac7e2bcf-c9dc-4d9a-80e8-db712efcbdf2',
  'std_count_limit': '200000',
  'df':        WalmartTime.[Day]  Department.[Department_ID]  Store.[Store_ID]  \
  0             02-05-2010                           1                 1
  1             02-05-2010                           1                10
  2             02-05-2010                           1                11
  3             02-05-2010                           1                12
  4             02-05-2010                           1                13
  ...                  ...                         ...               ...
  421565        10-26-2012                          50                23
  421566        10-26-2012                          50                24
  421567        10-26-2012                          50                25
  421568        10-26-2012                          50                27
  421569        10-26-2012                          65                34

          Weekly Sales
  0           24924.50
  1           40212.84
  2           19611.13
  3           17426.75
  4           46761.90
  ...              ...
  421565       7723.00
  421566        595.00
  421567       2317.00
  421568       2540.50
  421569      41457.76

  [421570 rows x 4 columns]}}