In [26]:
_DPBaseInputs = "select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting

DPBaseInputs = O9DataLake.register("DPBaseInputs",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _DPBaseInputs,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.SliceDimension)

O9DataLake.register("out_df",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({"sp1":"val1","sp2":"10"}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

DEBUG:o9_sys_logger:Inputs registered - {'DPBaseInputs': {'name': 'DPBaseInputs', 'resource_type': <ResourceType.IBPL: 'ibpl_query'>, 'data_source': <DataSource.LS: 'liveserver'>, 'query': 'select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});'}}
INFO:o9_sys_logger:key obj: {'name': 'DPBaseInputs', 'resource_type': <ResourceType.IBPL: 'ibpl_query'>, 'data_source': <DataSource.LS: 'liveserver'>, 'query': 'select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});', 'std_count_limit': '200000'}

In [3]:
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
#getting inputs from DataLake
dpbaseinputs = O9DataLake.get('DPBaseInputs')

In [4]:
dpbaseinputs

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S1,196426,W03-2016,ALL,ALL,1,NaN,NaN,NaN,6.0
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,1,NaN,NaN,NaN,6.0
2,S1,196426,W05-2016,ALL,ALL,2,NaN,NaN,NaN,9.5
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,2,NaN,NaN,NaN,9.5
4,S1,196426,W08-2016,ALL,ALL,1,NaN,NaN,NaN,6.0
5,CurrentWorkingView,196426,W08-2016,ALL,ALL,1,NaN,NaN,NaN,6.0
6,S1,196426,W13-2016,ALL,ALL,1,NaN,NaN,NaN,13.0
7,CurrentWorkingView,196426,W13-2016,ALL,ALL,1,NaN,NaN,NaN,13.0
8,S1,196426,W48-2016,ALL,ALL,1,NaN,NaN,NaN,13.0
9,CurrentWorkingView,196426,W48-2016,ALL,ALL,1,NaN,NaN,NaN,13.0
10,S1,196426,W42-2017,ALL,ALL,1,NaN,NaN,NaN,13.0
11,CurrentWorkingView,196426,W42-2017,ALL,ALL,1,NaN,NaN,NaN,13.0
12,S1,196426,W44-2017,ALL,ALL,1,NaN,NaN,NaN,13.0
13,CurrentWorkingView,196426,W44-2017,ALL,ALL,1,NaN,NaN,NaN,13.0

In [5]:
#user script
import logging
out_df = None
logger = logging.getLogger('o9_logger')
logger.info("python Session")
logger.error(f'DPBaseInputs {DPBaseInputs.shape}')
logger.debug('Debug logs')

2023-09-28 13:23:22,548 - o9_logger - INFO  - python Session
2023-09-28 13:23:22,549 - o9_logger - ERROR  - DPBaseInputs (14, 10)
2023-09-28 13:23:22,550 - o9_logger - DEBUG  - Debug logs

In [6]:
Sp = O9DataLake.get_script_param("sp1")
Sp2 = O9DataLake.get_script_param("sp2")

In [7]:
logger.info("SPvalue =  {}...".format(Sp))
logger.info("SP2value =  {}...".format(Sp2))

2023-09-28 13:23:22,557 - o9_logger - INFO  - SPvalue =  val1...
2023-09-28 13:23:22,558 - o9_logger - INFO  - SP2value =  10...

In [8]:
#pushing outputs to DataLake
O9DataLake.put('out_df', dpbaseinputs)

INFO:o9_sys_logger:{'FileName': 'Fact.out_df.csv', 'SheetName': 'Fact.out_df.csv', 'TotalRows': 14, 'ProcessedRows': 14, 'Status': 'Success', 'Messages': ['Total Rows: [14]. Successfully Processed Rows: [14].'], 'FileId': 's3://shPxeDczzH_rYcWpURBdZxRdABiRcGn0jvMtLN3cqCVx-_6CrdnK3rhH7niehro_l9iNrPux1BlDo3-7miJk3upEOYs11BYujWhNrZBeK4E1'}