In [3]:
_DPBaseInputs = "select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});"


# Initialize the O9DataLake with the input parameters and dataframes
# Data can be accessed with O9DataLake.get(<Input Name>)
# Overwritten values will not be reflected in the O9DataLake after initialization

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
DPBaseInputs = O9DataLake.register("DPBaseInputs",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _DPBaseInputs,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("Product.[Product]", data_source = DataSource.LS, entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.SliceDimension)

O9DataLake.register("out_df",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({"var1":"10"}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2023-10-09 12:00:09,890 - o9_logger - ERROR - Error in setting logs. [Errno 2] No such file or directory: '/var/log/jupyterhub/startup.log'

In [8]:
O9DataLake.inputs

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

{'DPBaseInputs': {'name': 'DPBaseInputs', 'resource_type': <ResourceType.IBPL: 'ibpl_query'>, 'data_source': <DataSource.LS: 'liveserver'>, 'query': 'select (Version.[Version Name]*Product.[Product].Filter(#.Name in {[196426],[208821]})*Time.FiscalWeek*SalesAccount.[Account]*Location.[Location]*{Measure.[DPSellOutUnitsActuals],Measure.[Mean Pricing Save PCT],Measure.[Placement Count],Measure.[Promotion Count],Measure.[DPSellOutPrice]});', 'std_count_limit': '200000', 'df': None}}

In [5]:
#getting inputs from DataLake
dpbaseinputs = O9DataLake.get('DPBaseInputs')

In [6]:
dpbaseinputs

,Version.[Version Name],Product.[Product],Time.[FiscalWeek],SalesAccount.[Account],Location.[Location],DPSellOutUnitsActuals,Mean Pricing Save PCT,Placement Count,Promotion Count,DPSellOutPrice
0,S1,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
1,CurrentWorkingView,196426,W03-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
2,S1,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
3,CurrentWorkingView,196426,W05-2016,ALL,ALL,2.0,NaN,NaN,NaN,9.5
4,S1,196426,W08-2016,ALL,ALL,1.0,NaN,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...
329,CurrentWorkingView,208821,W50-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
330,S1,208821,W51-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
331,CurrentWorkingView,208821,W51-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
332,S1,208821,W52-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN
333,CurrentWorkingView,208821,W52-2018,ALL,ALL,NaN,NaN,1.0,NaN,NaN

In [18]:
#user script
import logging
out_df = None
logger = logging.getLogger('o9_logger')
logger.info("python Session")
logger.error(f'DPBaseInputs {DPBaseInputs.count()}')
logger.debug('Debug logs')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

An error was encountered:
AttributeError
[Traceback (most recent call last):
,   File "/tmp/spark-9bc66490-d5ba-49c3-b00f-4f443f4d663a/shell_wrapper.py", line 113, in exec
    self._exec_then_eval(code)
,   File "/tmp/spark-9bc66490-d5ba-49c3-b00f-4f443f4d663a/shell_wrapper.py", line 105, in _exec_then_eval
    exec(compile(block, '<string>', 'exec'), self.globals)
,   File "<string>", line 6, in <module>
, AttributeError: 'NoneType' object has no attribute 'count'
]

In [19]:
Var = O9DataLake.get_script_param("var1")
logger.info("Varvalue =  {}...".format(Var))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2023-10-09 11:37:14,599 - o9_logger - INFO - Varvalue =  10...

In [9]:
#pushing outputs to DataLake
O9DataLake.put('out_df', dpbaseinputs)