In [4]:
_sales_df = "Select ([Version].[Version Name]) on row, (Product.[Product]) on column LIMIT 20;"
from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource,PluginSetting
sales_df = O9DataLake.register("sales_df",data_source = DataSource.LS, entity_type = ResourceType.IBPL, query = _sales_df,plugin_setting = PluginSetting.Inputs)
O9DataLake.register("Version.[Version Name]", data_source = DataSource.LS, entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.SliceDimension)

O9DataLake.register("out_df1",data_source = DataSource.LS,entity_type = ResourceType.IBPL,plugin_setting = PluginSetting.Outputs)
script_params = O9DataLake.register({}, data_source = DataSource.LS,plugin_setting = PluginSetting.ScriptParam)

In [5]:
sales_df

   Version.[Version Name] Product.[Product]
0      CurrentWorkingView         FG_1000_1
1      CurrentWorkingView             85201
2      CurrentWorkingView             91261
3      CurrentWorkingView            109454
4      CurrentWorkingView            148275
5      CurrentWorkingView            178489
6      CurrentWorkingView            181166
7      CurrentWorkingView            187097
8      CurrentWorkingView            190170
9      CurrentWorkingView            196426
10     CurrentWorkingView            208821
11     CurrentWorkingView            243662
12     CurrentWorkingView            247442
13     CurrentWorkingView            287663
14     CurrentWorkingView            295257
15     CurrentWorkingView            341240
16     CurrentWorkingView            354783
17     CurrentWorkingView            363568
18     CurrentWorkingView            370065
19     CurrentWorkingView            370946